<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 



<div class="carrito">
    <h1> No tienes nada agregado al carrito</h1>

    <a href="/" class="vista-home">Ver productos</a>
</div>



<%- include('../partials/footer')  %>   