<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
        <h1> ACA VA UN TEXTO DE CONTACTO </h1>
        <h2> PONELE </h2>
    </main>

<%- include('partials/footer')  %> 