<%- include('partials/metadata')  %> 
<%- include('partials/header')  %> 


    <main>
        <div class=error404> 

            <h1> OH, CREO QUE ALGO HA FALLADO </h1>
            <br>
            <h2> Lo sentimos, lo que buscas no está en nuestros servidores.</h2>
                <div id="dinoerror" > 
                    <img src="\images\dino 404.png">
                </div>
            <br>
            <h2><a href="/">Haz click aquí para regresar al inicio</a></h2>

        </div>
    </main>

<%- include('partials/footer')  %>