<footer>
    <div class="footer-2">
        <div class="cajaFoot">
            <div class="foot-logo">
                <a href="#">
                    <img src="/images/logo-XLR8.png" alt="logo-chico">
                </a>
            </div>
        </div>
        <div class="cajaFoot">
            <div>
                <h2> SOBRE NOSOTROS </2>
                    <p> Hacemos indumentaria deportiva, para los que aman la actividad física, como para los que la
                        visten por moda. </p>
            </div>
            <div>
                <h2> CATEGORIAS </2>
                    <div class="foot-menu">
                        <div class="generos">                            
                            <a href="/products">TODOS LOS PRODUCTOS</a>
                        </div>
                        <div class="menu-prendas">
                            <a href="/products">REMERAS</a>
                            <a href="/products">PANTALONES</a>
                            <a href="/products">SHORTS</a>                           
                        </div>
                        <div class="menu-contacto">                            
                            <a href="/terminos">TERMINOS Y CONDICIONES</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="cajaFoot">
            <div>
                <h2> <i class="far fa-heart"></i> SIGUENOS </h2>
                <div class="footflex-social-media">
                    <a href="https://www.instagram.com/tienda.xlr8" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100086899435512" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/tienda_XLR8" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.tiktok.com/@tienda.xlr8" target="_blank"><i class="fab fa-tiktok"></i></a>
                </div>
                <div>
                    <h2> NEWSLETTER</h2>
                    <form action="">
                        <input type="email" placeholder="Tu e-mail">
                        <button type="reset"> SUSCRIBIRSE </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 1986-2022 Tienda XLR8 Sportwear S.R.L.</p>
        <p>Terminos y Condiciones.</p>
    </div>

</footer>
</body>

</html>